In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from Libreria import CDIN as cd

In [4]:
data = pd.read_csv('dataset.csv')
data.head()

,Code,Municipality,State Code,State,Total Male Population: 2010,Total Female Population: 2010,Percentage of Males of 15 to 29: 2010,Percentage of Males of 15 to 29: 2015,Percentage of Females of 15 to 29: 2010,Percentage of Females of 15 to 29: 2015,...,Female Births: 2009,Female Births: 2010,Female Births: 2011,Female Births: 2012,Female Births: 2013,Female Births: 2014,Female Births: 2015,Female Births: 2016,Female Births: 2017,Female Births: 2018
0,9012,Tlalpan,9,Ciudad de México,312139,338428,26.9,11.716664,25.5,12.175235,...,5258,5275,5468,5286,5092,5243,4918,4480,4133,3932
1,9013,Xochimilco,9,Ciudad de México,205305,209702,27.9,12.364011,26.1,12.453208,...,3673,3779,3939,3865,3466,3712,3390,3314,2978,2828
2,9008,La Magdalena Contreras,9,Ciudad de México,114492,124594,26.1,11.946155,24.8,12.070394,...,2115,2147,2084,1966,2001,1944,1857,1715,1633,1547
3,9002,Azcapotzalco,9,Ciudad de México,196053,218658,25.5,10.831140,23.3,11.274462,...,3646,3693,3536,3572,3133,3246,2956,2790,2757,2426
4,9014,Benito Juárez,9,Ciudad de México,176410,209029,23.0,9.792389,20.9,10.331180,...,2394,2497,2443,2436,2378,2532,2402,2176,2079,1871

In [8]:
data.describe()

,Code,State Code,Total Male Population: 2010,Total Female Population: 2010,Percentage of Males of 15 to 29: 2010,Percentage of Males of 15 to 29: 2015,Percentage of Females of 15 to 29: 2010,Percentage of Females of 15 to 29: 2015,Percentage of Males of 60 or more: 2010,Percentage of Males of 60 or more: 2015,...,Female Births: 2009,Female Births: 2010,Female Births: 2011,Female Births: 2012,Female Births: 2013,Female Births: 2014,Female Births: 2015,Female Births: 2016,Female Births: 2017,Female Births: 2018
count,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,...,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000
mean,19358.127668,19.249589,22497.768883,23573.724548,25.314860,11.864195,25.827627,12.539716,11.705624,6.170886,...,519.536125,535.270936,522.783251,502.855501,493.685961,495.187603,471.927340,457.894910,444.269704,429.427750
std,7384.610873,7.369014,64999.834080,68275.318964,2.618953,1.448945,2.722393,1.535702,4.724324,2.302327,...,1390.835319,1378.471951,1356.235296,1326.946569,1305.849549,1313.178555,1269.645972,1222.272739,1184.343765,1132.938406
min,1001.000000,1.000000,40.000000,53.000000,5.000000,4.693878,10.100000,3.508772,2.200000,1.198205,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14078.750000,14.000000,2132.000000,2223.750000,23.900000,11.080011,24.400000,11.790046,8.400000,4.555044,...,51.000000,53.000000,48.000000,48.000000,37.750000,43.000000,36.750000,34.750000,34.000000,35.000000
50%,20230.500000,20.000000,6315.500000,6529.500000,25.700000,12.059610,26.200000,12.769226,10.700000,5.689082,...,159.500000,167.500000,166.000000,153.500000,146.000000,147.000000,134.500000,133.000000,128.000000,126.000000
75%,24033.250000,24.000000,16076.000000,16723.500000,27.100000,12.867398,27.600000,13.548574,14.000000,7.345406,...,428.250000,455.250000,434.250000,406.250000,400.000000,399.250000,367.000000,367.250000,348.250000,345.000000
max,32058.000000,32.000000,880998.000000,934788.000000,36.200000,17.696080,36.400000,17.173112,36.600000,17.181855,...,21065.000000,17536.000000,17052.000000,16619.000000,16095.000000,16870.000000,16774.000000,16036.000000,15618.000000,15265.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 66 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Code                                       2436 non-null   int64
 1   Municipality                               2436 non-null   object
 2   State Code                                 2436 non-null   int64
 3   State                                      2436 non-null   object
 4   Total Male Population: 2010                2436 non-null   int64
 5   Total Female Population: 2010              2436 non-null   int64
 6   Percentage of Males of 15 to 29: 2010      2436 non-null   float64
 7   Percentage of Males of 15 to 29: 2015      2436 non-null   float64
 8   Percentage of Females of 15 to 29: 2010    2436 non-null   float64
 9   Percentage of Females of 15 to 29: 2015    2436 non-null   float64
 10  Percentage of Males of 60 or more: 2010    2436 non-null   float64
 11  Percentage of Males of 60 or more: 2015    2436 non-null   float64
 12  Percentage of Females of 60 or more: 2010  2436 non-null   float64
 13  Percentage of Females of 60 or more: 2015  2436 non-null   float64
 14  Median Male Age: 2010                      2436 non-null   float64
 15  Median Female Age: 2010                    2436 non-null   float64
 16  Male Births: 1994                          2436 non-null   int64
 17  Male Births: 1995                          2436 non-null   int64
 18  Male Births: 1996                          2436 non-null   int64
 19  Male Births: 1997                          2436 non-null   int64
 20  Male Births: 1998                          2436 non-null   int64
 21  Male Births: 1999                          2436 non-null   int64
 22  Male Births: 2000                          2436 non-null   int64
 23  Male Births: 2001                          2436 non-null   int64
 24  Male Births: 2002                          2436 non-null   int64
 25  Male Births: 2003                          2436 non-null   int64
 26  Male Births: 2004                          2436 non-null   int64
 27  Male Births: 2005                          2436 non-null   int64
 28  Male Births: 2006                          2436 non-null   int64
 29  Male Births: 2007                          2436 non-null   int64
 30  Male Births: 2008                          2436 non-null   int64
 31  Male Births: 2009                          2436 non-null   int64
 32  Male Births: 2010                          2436 non-null   int64
 33  Male Births: 2011                          2436 non-null   int64
 34  Male Births: 2012                          2436 non-null   int64
 35  Male Births: 2013                          2436 non-null   int64
 36  Male Births: 2014                          2436 non-null   int64
 37  Male Births: 2015                          2436 non-null   int64
 38  Male Births: 2016                          2436 non-null   int64
 39  Male Births: 2017                          2436 non-null   int64
 40  Male Births: 2018                          2436 non-null   int64
 41  Female Births: 1994                        2436 non-null   int64
 42  Female Births: 1995                        2436 non-null   int64
 43  Female Births: 1996                        2436 non-null   int64
 44  Female Births: 1997                        2436 non-null   int64
 45  Female Births: 1998                        2436 non-null   int64
 46  Female Births: 1999                        2436 non-null   int64
 47  Female Births: 2000                        2436 non-null   int64
 48  Female Births: 2001                        2436 non-null   int64
 49  Female Births: 2002                        2436 non-null   int64
 50  Female Births: 2003                        2436 non-null   int64
 51  Female Births: 2004                        2436 non-null   int64
 52  Female Births: 2005                        2436 non-null   int64
 53  Female Births: 2006                        2436 non-null   int64
 54  Female Births: 2007                        2436 non-null   int64
 55  Female Births: 2008                        2436 non-null   int64
 56  Female Births: 2009                        2436 non-null   int64
 57  Female Births: 2010                        2436 non-null   int64
 58  Female Births: 2011                        2436 non-null   int64
 59  Female Births: 2012                        2436 non-null   int64
 60  Female Births: 2013                        2436 non-null   int64
 61  Female Births: 2014                        2436 non-null   int64
 62  Female Births: 2015                        2436 non-null   int64
 63  Female Births: 2016                        2436 non-null   int64
 64  Female Births: 2017                        2436 non-null   int64
 65  Female Births: 2018                        2436 non-null   int64
dtypes: float64(10), int64(54), object(2)
memory usage: 1.2+ MB

In [6]:
cd.dqr(data)

,Name,Type,N/A value,Count values,Unique values,Min,Max,Mean,Std,Var,Median,% Data Missing,% Data Present
Code,Code,int64,0,2436,2436,1001,32058,19358.127668,7384.610873,5.453248e+07,20230.5,0.0,100.0
Municipality,Municipality,object,0,2436,2296,Abalá,Álvaro Obregón,NaN,NaN,NaN,NaN,0.0,100.0
State Code,State Code,int64,0,2436,32,1,32,19.249589,7.369014,5.430236e+01,20.0,0.0,100.0
State,State,object,0,2436,32,Aguascalientes,Zacatecas,NaN,NaN,NaN,NaN,0.0,100.0
Total Male Population: 2010,Total Male Population: 2010,int64,0,2436,2291,40,880998,22497.768883,64999.834080,4.224978e+09,6315.5,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Female Births: 2014,Female Births: 2014,int64,0,2436,875,0,16870,495.187603,1313.178555,1.724438e+06,147.0,0.0,100.0
Female Births: 2015,Female Births: 2015,int64,0,2436,830,0,16774,471.927340,1269.645972,1.612001e+06,134.5,0.0,100.0
Female Births: 2016,Female Births: 2016,int64,0,2436,824,0,16036,457.894910,1222.272739,1.493951e+06,133.0,0.0,100.0
Female Births: 2017,Female Births: 2017,int64,0,2436,818,0,15618,444.269704,1184.343765,1.402670e+06,128.0,0.0,100.0
Female Births: 2018,Female Births: 2018,int64,0,2436,826,0,15265,429.427750,1132.938406,1.283549e+06,126.0,0.0,100.0

# EDA

In [21]:
#data['Municipality'].unique
data['State'].unique()

array(['Ciudad de México', 'Guerrero', 'Estado de México', 'Morelos',
       'Sinaloa', 'Sonora', 'Baja California', 'Baja California Sur',
       'Chihuahua', 'Nayarit', 'Jalisco', 'Michoacán de Ocampo',
       'Durango', 'Colima', 'Zacatecas', 'Coahuila de Zaragoza',
       'Tabasco', 'Oaxaca', 'Querétaro', 'San Luis Potosí', 'Guanajuato',
       'Aguascalientes', 'Veracruz de Ignacio de la Llave', 'Tlaxcala',
       'Puebla', 'Hidalgo', 'Nuevo León', 'Chiapas', 'Tamaulipas',
       'Yucatán', 'Campeche', 'Quintana Roo'], dtype=object)